	<!-- catg header banner section -->
	<section id="aa-catg-head-banner">
	<div class="header-banner-size">
		<div class="aa-catg-head-banner-area">
			<div class="container">
				<div class="aa-catg-head-banner-content">
				<h2>Đăng nhập - Đăng kí</h2>
				<ol class="breadcrumb">
					<li><a href="/">Trang chủ</a></li>                   
					<li class="active">Đăng nhập - đăng kí</li>
				</ol>
				</div>
			</div>
		</div>
	</div>
	</section>
	<!-- / catg header banner section -->
	
	<!-- Cart view section -->
	<section id="aa-myaccount">
	<div class="container">
		<div class="row">
		<div class="col-md-12">
		<div class="aa-myaccount-area">         
			<div class="row">
				<div class="col-md-6">
				<div class="aa-myaccount-login">
				<h4>Đăng nhập</h4>
					<form method="post" action="/nguoi-dung/dang-nhap/" class="aa-login-form">
					<label for="">Tên đăng nhập<span>*</span></label>
					<input type="text" name="username" placeholder="Tên đăng nhập">
					<label for="">Mật khẩu<span>*</span></label>
					<input type="password" name="password" placeholder="Mật khẩu">
					<button type="submit" class="aa-browse-btn">Đăng nhập</button>
					<label class="rememberme" for="rememberme"><input type="checkbox" id="rememberme"> Nhớ tài khoản </label>
					<p class="aa-lost-password"><a href="/nguoi-dung/quen-mat-khau">Quên mật khẩu?</a></p>
					</form>
				</div>
				</div>
				<div class="col-md-6">
				<div class="aa-myaccount-register">                 
					<h4>Đăng ký</h4>
					<form method="post" action="/nguoi-dung/dang-ki" class="aa-login-form">
					    <label for="">Họ tên<span>*</span></label>
					    <input type="text" name="Name" placeholder="Họ tên">
					    <label for="">Tên đăng nhập<span>*</span></label>
					    <input type="text" name="Username" placeholder="Tên đăng nhập">
					    <label for="">Mật khẩu<span>*</span></label>
					    <input type="password" name="Password" placeholder="Mật khẩu">
					    <label for="">Nhập lại mật khẩu<span>*</span></label>
					    <input type="password" name="RetypePassword" placeholder="Nhập lại mật khẩu">
                        <label for="">Email<span>*</span></label>
                        <input type="email" name="Email" placeholder="Email">
					    <button type="submit" class="aa-browse-btn">Đăng kí</button>
					</form>
				</div>
				</div>
			</div>          
			</div>
		</div>
		</div>
	</div>
	</section>
	<!-- / Cart view section -->
